<!-- Sign In -->
<div class="techwave-fn-sign">

	<div class="sign-content">
		<h1 class="logo">Designed by Frenify</h1>
		<form class="login">
			<div class="form-content">
				<div class="form-title">Sign In</div>
				<div class="form-username">
					<label for="user-login">Username or Email</label>
					<input type="text" class="input" id="user-login" autocapitalize="off" autocomplete="username" aria-describedby="login-message">
				</div>
				<div class="form-pass">
					<div class="pass-lab">
						<label for="user-password">Password</label>
						<a href="#">Forget Password?</a>
					</div>
					<input type="password" id="user-password" autocomplete="current-password" spellcheck="false">
				</div>
				<div class="form-submit">
					<label class="fn-submit">
						<input type="submit" name="submit" value="Sign In">
					</label>
				</div>
				<div class="form-alternative">
					<div class="fn-lined-text">
						<div class="line"></div>
						<div class="text">Or</div>
						<div class="line"></div>
					</div>
					<a href="#" class="techwave-fn-button"><span>Sign in with Google</span></a>
				</div>
			</div>
		</form>
		<div class="sign-desc">
			<p>Not a member? <a routerLink="/sign-up">Sign Up</a></p>
		</div>
	</div>

</div>
<!-- !Sign In -->
