				<!-- FAQ Page -->
				<div class="techwave-fn-faq-page">

				  <!-- Page Title -->
				  <div class="techwave-fn-pagetitle">
				    <h2 class="title">Frequently Asked Questions</h2>
				  </div>
				  <!-- !Page Title -->

				  <div class="faq" [ngStyle]="{'height': faqHeight}">
				    <div class="container small">

				      <!-- Accordion Shortcode -->
				      <div class="techwave-fn-accordion" data-type="accordion">
				        <!-- data-type values: accordion, toggle -->

				        <!-- #1 accordion item -->
				        <div class="acc-item" [class.opened]="isAccordionOpened === 1" (click)="toggleAccordion(1)">
				          <div class="acc-header">
				            <h2 class="acc-title">How does it work?</h2>
				            <div class="acc-icon"></div>
				          </div>
				          <div class="acc-content" [style.display]="isAccordionOpened === 1 ? 'block' : 'none'">
				            <p>TECH-AI is an AI-powered content production suite that empowers creators with a powerful,
				              customisable, and user-friendly platform for bringing their ideas to life.</p>
				            <p>With a focus on granular control at every step of content creation, we put creators at the centre of
				              the creative process by offering granular control at every stage of generation, ensuring that AI
				              enhances, rather than replaces, human creative potential.</p>
				            <p>Our custom back-end delivers advancements in model fine-tuning, prompt adherence, training and
				              inference speed, and multi-image prompting functionality. We also address common issues around image
				              degradation and have implemented custom upscaling, with much more on the way!</p>
				          </div>
				        </div>
				        <!-- !#1 accordion item -->

				        <!-- #2 accordion item -->
				        <div class="acc-item" [class.opened]="isAccordionOpened === 2" (click)="toggleAccordion(2)">
				          <div class="acc-header">
				            <h2 class="acc-title">How long does it take to download updates?</h2>
				            <div class="acc-icon"></div>
				          </div>
				          <div class="acc-content" [style.display]="isAccordionOpened === 2 ? 'block' : 'none'">
				            <p>TECH-AI is an AI-powered content production suite that empowers creators with a powerful,
				              customisable, and user-friendly platform for bringing their ideas to life.</p>
				            <p>With a focus on granular control at every step of content creation, we put creators at the centre of
				              the creative process by offering granular control at every stage of generation, ensuring that AI
				              enhances, rather than replaces, human creative potential.</p>
				            <p>Our custom back-end delivers advancements in model fine tuning, prompt adherence, training and
				              inference speed, and multi-image prompting functionality. We also address common issues around image
				              degradation and have implemented a custom upscaling, with much more on the way!</p>
				          </div>
				        </div>
				        <!-- !#2 accordion item -->


				        <!-- #3 accordion item -->
				        <div class="acc-item" [class.opened]="isAccordionOpened === 3" (click)="toggleAccordion(3)">
				          <div class="acc-header">
				            <h2 class="acc-title">Do I need a designer to use this Admin Theme?</h2>
				            <div class="acc-icon"></div>
				          </div>
				          <div class="acc-content" [style.display]="isAccordionOpened === 3 ? 'block' : 'none'">
				            <p>TECH-AI is an AI-powered content production suite that empowers creators with a powerful,
				              customisable, and user-friendly platform for bringing their ideas to life.</p>
				            <p>With a focus on granular control at every step of content creation, we put creators at the centre of
				              the creative process by offering granular control at every stage of generation, ensuring that AI
				              enhances, rather than replaces, human creative potential.</p>
				            <p>Our custom back-end delivers advancements in model fine tuning, prompt adherence, training and
				              inference speed, and multi-image prompting functionality. We also address common issues around image
				              degradation and have implemented a custom upscaling, with much more on the way!</p>
				          </div>
				        </div>
				        <!-- !#3 accordion item -->

				        <!-- #4 accordion item -->
				        <div class="acc-item" [class.opened]="isAccordionOpened === 4" (click)="toggleAccordion(4)">
				          <div class="acc-header">
				            <h2 class="acc-title">What do I need to do to start selling?</h2>
				            <div class="acc-icon"></div>
				          </div>
				          <div class="acc-content" [style.display]="isAccordionOpened === 4 ? 'block' : 'none'">
				            <p>TECH-AI is an AI-powered content production suite that empowers creators with a powerful,
				              customisable, and user-friendly platform for bringing their ideas to life.</p>
				            <p>With a focus on granular control at every step of content creation, we put creators at the centre of
				              the creative process by offering granular control at every stage of generation, ensuring that AI
				              enhances, rather than replaces, human creative potential.</p>
				            <p>Our custom back-end delivers advancements in model fine tuning, prompt adherence, training and
				              inference speed, and multi-image prompting functionality. We also address common issues around image
				              degradation and have implemented a custom upscaling, with much more on the way!</p>
				          </div>
				        </div>
				        <!-- !#4 accordion item -->

				        <!-- #5 accordion item -->
				        <div class="acc-item" [class.opened]="isAccordionOpened === 5" (click)="toggleAccordion(5)">
				          <div class="acc-header">
				            <h2 class="acc-title">How much does Extended license cost?</h2>
				            <div class="acc-icon"></div>
				          </div>
				          <div class="acc-content"  [style.display]="isAccordionOpened === 5 ? 'block' : 'none'">
				            <p>TECH-AI is an AI-powered content production suite that empowers creators with a powerful,
				              customisable, and user-friendly platform for bringing their ideas to life.</p>
				            <p>With a focus on granular control at every step of content creation, we put creators at the centre of
				              the creative process by offering granular control at every stage of generation, ensuring that AI
				              enhances, rather than replaces, human creative potential.</p>
				            <p>Our custom back-end delivers advancements in model fine tuning, prompt adherence, training and
				              inference speed, and multi-image prompting functionality. We also address common issues around image
				              degradation and have implemented a custom upscaling, with much more on the way!</p>
				          </div>
				        </div>
				        <!-- !#5 accordion item -->

				        <!-- #6 accordion item -->
				        <div class="acc-item" [class.opened]="isAccordionOpened === 6" (click)="toggleAccordion(6)">
				          <div class="acc-header">
				            <h2 class="acc-title">What platforms are compatible?</h2>
				            <div class="acc-icon"></div>
				          </div>
				          <div class="acc-content" [style.display]="isAccordionOpened === 6 ? 'block' : 'none'">
				            <p>TECH-AI is an AI-powered content production suite that empowers creators with a powerful,
				              customisable, and user-friendly platform for bringing their ideas to life.</p>
				            <p>With a focus on granular control at every step of content creation, we put creators at the centre of
				              the creative process by offering granular control at every stage of generation, ensuring that AI
				              enhances, rather than replaces, human creative potential.</p>
				            <p>Our custom back-end delivers advancements in model fine tuning, prompt adherence, training and
				              inference speed, and multi-image prompting functionality. We also address common issues around image
				              degradation and have implemented a custom upscaling, with much more on the way!</p>
				          </div>
				        </div>
				        <!-- !#6 accordion item -->

				      </div>
				      <!-- !Accordion Shortcode -->

				    </div>
				  </div>


				</div>
				<!-- !FAQ Page -->
