				<!-- Change Log Page -->
				<div class="techwave-fn-changelog-page">

				  <!-- Page Title -->
				  <div class="techwave-fn-pagetitle">
				    <h2 class="title">Changelog</h2>
				  </div>
				  <!-- !Page Title -->

				  <div class="change-log" >
				    <div class="container small">

				      <!-- Changelog-->
				      <div class="techwave-fn-changelog">
                <div class="changelog-item">
				          <div class="item-header">
				            <div class="item-ver">v1.4.0</div>
				            <div class="item-date">Nov 28, 2024</div>
				          </div>
				          <div class="item-content">
				            <div class="item-group">
				              <div class="item-title"><span>New</span></div>
				              <ul class="item-list">
				                <li>Update Angular 17 to 19</li>
				              </ul>
				            </div>
				          </div>
				        </div>
                <div class="changelog-item">
				          <div class="item-header">
				            <div class="item-ver">v1.3.0</div>
				            <div class="item-date">July 18, 2024</div>
				          </div>
				          <div class="item-content">
				            <div class="item-group">
				              <div class="item-title"><span>New</span></div>
				              <ul class="item-list">
				                <li> Added ASP.Net Core 8</li>
				                <li> Added ASP.Net MVC 5</li>
				              </ul>
				            </div>
				          </div>
				        </div>
				        <div class="changelog-item">
				          <div class="item-header">
				            <div class="item-ver">v1.2.0</div>
				            <div class="item-date">JULY 05, 2024</div>
				          </div>
				          <div class="item-content">
				            <div class="item-group">
				              <div class="item-title"><span>New</span></div>
				              <ul class="item-list">
				                <li> Added Angular 17</li>
				              </ul>
				            </div>
				          </div>
				        </div>
				        <div class="changelog-item">
				          <div class="item-header">
				            <div class="item-ver">v1.1.0</div>
				            <div class="item-date">MARCH 29, 2024</div>
				          </div>
				          <div class="item-content">
				            <div class="item-group">
				              <div class="item-title"><span>New</span></div>
				              <ul class="item-list">
				                <li> Added Symfony
				                </li>
				                <li> Added Node Js
				                </li>
				              </ul>
				            </div>
				          </div>
				        </div>
				        <div class="changelog-item">
				          <div class="item-header">
				            <div class="item-ver">v1.0.0</div>
				            <div class="item-date">April 15, 2024</div>
				          </div>
				          <div class="item-content">
				            <div class="item-group">
				              <div class="item-title"><span>New</span></div>
				              <ul class="item-list">
				                <li> Initial Released</li>
				              </ul>
				            </div>
				          </div>
				        </div>


				      </div>
				      <!-- !Changelog-->

				    </div>
				  </div>

				</div>
				<!-- !Change Log Page -->
