				<!-- Change Log Page -->
				<div class="techwave_fn_changelog_page">

				  <!-- Page Title -->
				  <div class="techwave_fn_pagetitle">
				    <h2 class="title">Changelog</h2>
				  </div>
				  <!-- !Page Title -->

				  <div class="change_log" >
				    <div class="container small">

				      <!-- Changelog-->
				      <div class="techwave_fn_changelog">
                <div class="changelog__item">
				          <div class="item__header">
				            <div class="item__ver">v1.4.0</div>
				            <div class="item__date">Nov 28, 2024</div>
				          </div>
				          <div class="item__content">
				            <div class="item__group">
				              <div class="item__title"><span>New</span></div>
				              <ul class="item__list">
				                <li>Update Angular 17 to 19</li>
				              </ul>
				            </div>
				          </div>
				        </div>
                <div class="changelog__item">
				          <div class="item__header">
				            <div class="item__ver">v1.3.0</div>
				            <div class="item__date">July 18, 2024</div>
				          </div>
				          <div class="item__content">
				            <div class="item__group">
				              <div class="item__title"><span>New</span></div>
				              <ul class="item__list">
				                <li> Added ASP.Net Core 8</li>
				                <li> Added ASP.Net MVC 5</li>
				              </ul>
				            </div>
				          </div>
				        </div>
				        <div class="changelog__item">
				          <div class="item__header">
				            <div class="item__ver">v1.2.0</div>
				            <div class="item__date">JULY 05, 2024</div>
				          </div>
				          <div class="item__content">
				            <div class="item__group">
				              <div class="item__title"><span>New</span></div>
				              <ul class="item__list">
				                <li> Added Angular 17</li>
				              </ul>
				            </div>
				          </div>
				        </div>
				        <div class="changelog__item">
				          <div class="item__header">
				            <div class="item__ver">v1.1.0</div>
				            <div class="item__date">MARCH 29, 2024</div>
				          </div>
				          <div class="item__content">
				            <div class="item__group">
				              <div class="item__title"><span>New</span></div>
				              <ul class="item__list">
				                <li> Added Symfony
				                </li>
				                <li> Added Node Js
				                </li>
				              </ul>
				            </div>
				          </div>
				        </div>
				        <div class="changelog__item">
				          <div class="item__header">
				            <div class="item__ver">v1.0.0</div>
				            <div class="item__date">April 15, 2024</div>
				          </div>
				          <div class="item__content">
				            <div class="item__group">
				              <div class="item__title"><span>New</span></div>
				              <ul class="item__list">
				                <li> Initial Released</li>
				              </ul>
				            </div>
				          </div>
				        </div>


				      </div>
				      <!-- !Changelog-->

				    </div>
				  </div>

				</div>
				<!-- !Change Log Page -->
