<!-- Sign Up -->
<div class="techwave-fn-sign">

	<div class="sign-content">
		<h1 class="logo">Designed by Frenify</h1>
		<form class="signup">
			<div class="form-content">
				<div class="form-title">Sign Up</div>
				<div class="form-name">
					<label for="name">Name</label>
					<input type="text" class="input" id="name" placeholder="Full Name">
				</div>
				<div class="form-username">
					<label for="username">Username</label>
					<input type="text" class="input" id="username" placeholder="Username">
				</div>
				<div class="form-email">
					<label for="email">Username</label>
					<input type="text" class="input" id="email" placeholder="yourmail@example.com">
				</div>
				<div class="form-pass">
					<label for="user-password">Password</label>
					<input type="password" id="user-password" autocomplete="current-password" spellcheck="false">
				</div>
				<div class="form-submit">
					<label class="fn-submit">
						<input type="submit" name="submit" value="Create Account">
					</label>
				</div>
				<div class="form-alternative">
					<div class="fn-lined-text">
						<div class="line"></div>
						<div class="text">Or</div>
						<div class="line"></div>
					</div>
					<a href="#" class="techwave-fn-button"><span>Sign up with Google</span></a>
				</div>
			</div>
		</form>
		<div class="sign-desc">
			<p>Don't have an account? <a routerLink="/sign-in">Sign In</a></p>
		</div>
	</div>

</div>
<!-- !Sign Up -->
