<div class="techwave-fn-wrapper" [ngClass]="{'fn-has-rightsidebar': showRightSidebar}">
    <!-- Header -->
    <app-navbar></app-navbar>
    <!-- !Header -->

    <!-- Left Panel -->
    <app-leftsidebar *ngIf="showLeftSidebar"></app-leftsidebar>
    <!-- !Left Panel -->

    <!-- Right Panel -->
    <app-rightsidebar *ngIf="showRightSidebar"></app-rightsidebar>
    <!-- !Right Panel -->

    <!-- Content -->
    <div class="techwave-fn-content">
        <div class="techwave-fn-page">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- !Content -->
</div>
