<!-- User Settings Page -->
<div class="techwave-fn-user-settings-page">
  <!-- Page Title -->
  <div class="techwave-fn-pagetitle">
    <h2 class="title">Settings</h2>
  </div>
  <!-- !Page Title -->

  <div class="container small">
    <div class="techwave-fn-user-settings">
      <form>
        <div class="user-settings">
          <div class="settings-left">

            <!-- Upload Shortcode -->
            <label class="fn-upload">
              <span class="upload-content">
                <img src="assets/svg/upload.svg" alt="" class="fn-svg">
                <span class="title">Drag & Drop a Image</span>
                <span class="fn-lined-text">
                  <span class="line"></span>
                  <span class="text">Or</span>
                  <span class="line"></span>
                </span>
                <span class="title">Browse</span>
                <span class="desc">Supports JPG, JPEG, and PNG</span>
              </span>
              <span class="upload-preview">
                <a href="#" class="fn-closer fn-icon-button">
                  <img src="assets/svg/close.svg" alt="" class="fn-svg">
                </a>
                <img src="#" alt="" class="preview-img">
              </span>

              <input type="file" accept="image/*">
            </label>
            <!-- !Upload Shortcode -->

          </div>

          <div class="settings-right">
            <div class="item">
              <label class="input-label" for="name">Name</label>
              <div class="input-item">
                <input class="input" type="text" id="name" value="Caden Smith">
              </div>
            </div>
            <div class="item">
              <label class="input-label" for="username">Username</label>
              <div class="input-item">
                <span class="email">&#64;</span>
                <input class="input" type="text" id="username" value="caddeomyth">
              </div>
            </div>
            <div class="item">
              <label class="input-label" for="email">Email Address</label>
              <div class="input-item">
                <input class="input" type="text" id="email" value="cadensmith@gmail.com">
              </div>
            </div>
            <div class="item">
              <label class="input-label" for="password">Password</label>
              <div class="input-item">
                <input class="input" type="password" id="password" value="lqbjSA34a!bh1">
              </div>
            </div>
            <div class="item">
              <label class="fn-checkbox">
                <input type="checkbox">I approve all changes
                <span class="checkmark"></span>
                <img src="assets/svg/check.svg" alt="" class="fn-svg">
              </label>
            </div>
            <div class="item">
              <label class="fn-submit">
                <input type="submit" value="Save Changes">
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
<!-- !User Settings Page -->
