<!-- Notifications Page -->
<div class="techwave-fn-notifications-page">

  <!-- Page Title -->
  <div class="techwave-fn-pagetitle">
    <h2 class="title">Notifications</h2>
  </div>
  <!-- !Page Title -->

  <div class="techwave-fn-notifications-content">
    <div class="container small">


      <!-- Notifications List -->
      <div class="techwave-fn-notifications-list">
        <div class="notification-item">
          <a routerLink="/notification-single" class="fn-full-link"></a>
          <h2 class="item-title">Version 4.1.2 has been released</h2>
          <span class="item-date">May 25, 2023</span>
        </div>
        <div class="notification-item">
          <a routerLink="/notification-single" class="fn-full-link"></a>
          <h2 class="item-title">Video generation Beta has been released</h2>
          <span class="item-date">May 25, 2023</span>
        </div>
        <div class="notification-item">
          <a routerLink="/notification-single" class="fn-full-link"></a>
          <h2 class="item-title">Terms has been updated</h2>
          <span class="item-date">May 25, 2023</span>
        </div>
        <div class="notification-item">
          <a routerLink="/notification-single" class="fn-full-link"></a>
          <h2 class="item-title">Project Delivery Preparation</h2>
          <span class="item-date">May 25, 2023</span>
        </div>
        <div class="notification-item">
          <a routerLink="/notification-single" class="fn-full-link"></a>
          <h2 class="item-title">Your generation has been chosen this month featured item</h2>
          <span class="item-date">May 25, 2023</span>
        </div>
        <div class="notification-item">
          <a routerLink="/notification-single" class="fn-full-link"></a>
          <h2 class="item-title">Congratulations. You are upgraded to premium level</h2>
          <span class="item-date">May 25, 2023</span>
        </div>
        <div class="notification-item">
          <a routerLink="/notification-single" class="fn-full-link"></a>
          <h2 class="item-title">Your account is verified now!</h2>
          <span class="item-date">May 25, 2023</span>
        </div>
        <div class="notification-item">
          <a routerLink="/notification-single" class="fn-full-link"></a>
          <h2 class="item-title">Welcome to TECH-AI</h2>
          <span class="item-date">May 25, 2023</span>
        </div>
      </div>
      <!-- !Notifications List -->

    </div>
  </div>



</div>
<!-- !Notifications Page -->
