<!-- User Profile Page -->
<div class="techwave-fn-user-profile-page">
  <!-- Page Title -->
  <div class="techwave-fn-pagetitle">
    <h2 class="title">User Profile</h2>
  </div>
  <!-- !Page Title -->

  <div class="container small">
    <div class="techwave-fn-user-profile">

      <div class="user-profile">
        <div class="user-avatar">
          <img src="assets/img/user/user.jpg" alt="">
        </div>
        <div class="user-details">
          <ul>
            <li>
              <div class="item">
                <h4 class="subtitle">Name</h4>
                <h3 class="title">Caden Smith</h3>
              </div>
            </li>
            <li>
              <div class="item">
                <h4 class="subtitle">Username</h4>
                <h3 class="title">&#64;caddeomyth</h3>
              </div>
            </li>
            <li>
              <div class="item">
                <h4 class="subtitle">Email Address</h4>
                <h3 class="title">cadensmith&#64;gmail.com</h3>
              </div>
            </li>
          </ul>
        </div>
        <a routerLink="/user-settings" class="user-edit fn-icon-button">
          <img src="assets/svg/setting.svg" alt="" class="fn-svg">
        </a>
      </div>

      

    </div>
  </div>

</div>
<!-- !User Profile Page -->
