<!-- User Profile Page -->
<div class="techwave-fn-user-profile-page">
  <!-- Page Title -->
  <div class="techwave-fn-pagetitle">
    <h2 class="title">User Profile</h2>
  </div>
  <!-- !Page Title -->

  <div class="container small">
    <div class="techwave-fn-user-profile">

      <div class="user-profile">
        <div class="user-avatar">
          <img src="assets/img/user/user.jpg" alt="">
        </div>
        <div class="user-details">
          <ul>
            <li>
              <div class="item">
                <h4 class="subtitle">Name</h4>
                <h3 class="title">Caden Smith</h3>
              </div>
            </li>
            <li>
              <div class="item">
                <h4 class="subtitle">Username</h4>
                <h3 class="title">&#64;caddeomyth</h3>
              </div>
            </li>
            <li>
              <div class="item">
                <h4 class="subtitle">Email Address</h4>
                <h3 class="title">cadensmith&#64;gmail.com</h3>
              </div>
            </li>
          </ul>
        </div>
        <a routerLink="/user-settings" class="user-edit fn-icon-button">
          <img src="assets/svg/setting.svg" alt="" class="fn-svg">
        </a>
      </div>

      <div class="user-plan">
        <div class="plan-left">
          <h4 class="subtitle">Your Plan</h4>
          <p class="info"><span>Personal Plan</span> - You will given 8000 tokens every month</p>
        </div>
        <div class="plan-right">
          <a routerLink="/pricing" class="token-upgrade techwave-fn-button"><span>Upgrade</span></a>
        </div>
      </div>

      <div class="user-interests">
        <h4 class="title">What are your interests?</h4>
        <div class="fn-options-list">
          <ul>
            <li>
              <a href="#" class="techwave-fn-button small-border enabled">
                <span>Advertising</span>
              </a>
            </li>
            <li>
              <a href="#" class="techwave-fn-button small-border disabled">
                <span>Architecture</span>
              </a>
            </li>
            <li>
              <a href="#" class="techwave-fn-button small-border disabled">
                <span>Art</span>
              </a>
            </li>
            <li>
              <a href="#" class="techwave-fn-button small-border disabled">
                <span>Education</span>
              </a>
            </li>
            <li>
              <a href="#" class="techwave-fn-button small-border disabled">
                <span>Fashion</span>
              </a>
            </li>
            <li>
              <a href="#" class="techwave-fn-button small-border disabled">
                <span>Film TV</span>
              </a>
            </li>
            <li>
              <a href="#" class="techwave-fn-button small-border disabled">
                <span>Interior</span>
              </a>
            </li>
            <li>
              <a href="#" class="techwave-fn-button small-border enabled">
                <span>Marketing</span>
              </a>
            </li>
            <li>
              <a href="#" class="techwave-fn-button small-border disabled">
                <span>Graphics</span>
              </a>
            </li>
            <li>
              <a href="#" class="techwave-fn-button small-border disabled">
                <span>Games</span>
              </a>
            </li>
            <li>
              <a href="#" class="techwave-fn-button small-border disabled">
                <span>Stock Images</span>
              </a>
            </li>
            <li>
              <a href="#" class="techwave-fn-button small-border disabled">
                <span>Other</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- !User Profile Page -->
